[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
d6tflow = "*"
sklearn = "*"
pandas = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
mlflow = "*"
argparse = "*"
papermill = "*"

[dev-packages]

[requires]
python_version = "3.8"
